In [38]:
from TickTocTest.ticktoctest.tickToc import getDBdata
from Altcoin.altcoin.coinData import CoinData
from datetime import timedelta, datetime
import math

In [39]:
btc = CoinData('btc', getDBdata)

In [40]:
dataf, cross  = CoinData.portfolio['btc'].getCoinData()

In [41]:
dataf.tail()

,open,close,high,low,volume,sewma,bma,lma
MTS,,,,,,,,
2018-10-19 14:30:00,6587.100000,6566.100000,6610.7,6548.3,39.492365,6646.346737,6590.343836,6559.011543
2018-10-19 20:30:00,6565.700000,6523.207948,6593.2,6521.0,68.739587,6623.957866,6598.166352,6557.799489
2018-10-20 02:30:00,6519.951522,6538.600000,6548.4,6511.0,38.898320,6608.438254,6606.629315,6557.561651
2018-10-20 08:30:00,6538.700000,6576.900000,6590.6,6533.7,15.717216,6602.704026,6616.444130,6557.505287
2018-10-20 14:30:00,6575.900000,6594.000000,6606.0,6570.8,10.105902,6601.121476,6626.962648,6557.325558

In [42]:
now = dataf.index[-1]
now

Timestamp('2018-10-20 14:30:00', freq='6H')

In [53]:
then = now -timedelta(1)
then

Timestamp('2018-10-19 14:30:00', freq='6H')

In [44]:
dataf.loc[now]['close']

6594.0

In [45]:
dataf.loc[then]['close']

6566.1

In [52]:
round((dataf.loc[now]['close'] - dataf.loc[then]['close']) *100 / dataf.loc[then]['close'], 2)

0.42

In [51]:
round(0.3784194, 2)

0.38

0.75