In [1]:
from datetime import datetime

from sqlalchemy import func, create_engine
from sqlalchemy.orm import sessionmaker
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from TickTocTest.ticktoctest.tickToc import getDBdata, db_session, getDF, rawDF
from Altcoin.altcoin.coinData import CoinData
from TickTocTest.ticktoctest.models import getTable, Base

%matplotlib inline

In [2]:
DATABASE_URI = 'mysql+pymysql://TomRoot:Sporty66@mysql.stackcp.com:51228/ticktoctestDB-3637742e'
master = f'sqlite:///c:\\data\\sqlite\\db\\master_db.db'

In [3]:
engine = create_engine(master)
Session = sessionmaker(bind=engine)

In [4]:
table = getTable('trx')

In [8]:
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('iot', conn)
data.head()

   id                 MTS     Open    Close    High      Low        Volume
0   1 2017-06-12 07:00:00  0.25000  0.53000  0.5300  0.25000  4.387772e+04
1   2 2017-06-13 07:00:00  0.53000  0.58700  1.3000  0.41000  9.574037e+06
2   3 2017-06-14 07:00:00  0.58999  0.52021  0.6101  0.47948  7.802434e+06
3   4 2017-06-15 07:00:00  0.51217  0.34670  0.5447  0.29123  7.005679e+06
4   5 2017-06-16 07:00:00  0.34260  0.40820  0.5990  0.30530  4.627429e+06

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23104 entries, 0 to 23103
Data columns (total 7 columns):
id        23104 non-null int64
MTS       23104 non-null datetime64[ns]
Open      23104 non-null float64
Close     23104 non-null float64
High      23104 non-null float64
Low       23104 non-null float64
Volume    23104 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 1.2 MB

In [10]:
df = data.drop(['id','Volume'], axis=1)
df.set_index('MTS', inplace=True, drop=True)
df.tail()

                        Open    Close     High      Low
MTS
2018-12-15 04:15:00  0.21742  0.21730  0.21742  0.21684
2018-12-15 04:30:00  0.21773  0.21781  0.21781  0.21773
2018-12-15 04:45:00  0.21770  0.21778  0.21778  0.21770
2018-12-15 05:00:00  0.21700  0.21679  0.21700  0.21655
2018-12-15 05:15:00  0.21665  0.21654  0.21665  0.21654