In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import func
%matplotlib inline

In [2]:
from TickTocTest.ticktoctest.models import all_DB_tables
from TickTocTest.ticktoctest.tickToc import db_session, getDBdata
from TickTocTest.ticktoctest.utils import DF_Tables
from Altcoin.altcoin.coinData import CoinData

In [3]:
table = all_DB_tables()
Session = db_session()
session = Session()

In [15]:
tables = (table['btc'], table['neo'], table['eth'])

In [16]:
from TickTocTest.ticktoctest.tickToc import df_gen

In [17]:
for it in df_gen(tables,session):
    print(it[0])
    print(it[1].head())

btc
                       Open   Close    High     Low        Volume
MTS
2015-07-23 07:00:00  277.88  276.51  278.44  275.56   5434.124773
2015-07-24 07:00:00  276.48  288.60  289.93  276.02  24289.517136
2015-07-25 07:00:00  288.58  289.37  292.35  286.39  11608.530056
2015-07-26 07:00:00  289.36  293.01  294.57  288.12   9326.277817
2015-07-27 07:00:00  293.00  294.84  298.74  286.00  25470.112077
neo
                        Open   Close    High     Low         Volume
MTS
2017-09-07 07:00:00  22.3000  31.150  39.800  22.300  277599.844082
2017-09-07 13:00:00  22.3000  33.397  34.000  22.300   80631.299607
2017-09-07 19:00:00  33.3970  28.200  39.800  28.200  132900.283202
2017-09-08 01:00:00  29.5735  30.850  31.752  28.373   45498.420401
2017-09-08 07:00:00  31.0030  28.220  31.390  25.461  161490.496510
eth
                       Open   Close    High     Low      Volume
MTS
2016-03-09 07:00:00  10.297  11.197  11.197  10.097   41.169523
2016-03-10 07:00:00  11.072  11.750  11.850  11.072    1.030000
2016-03-11 07:00:00  11.850  11.950  11.950  11.800   50.846991
2016-03-12 07:00:00  11.950  12.918  13.450  11.950  237.777041
2016-03-13 07:00:00  13.450  14.456  15.074  13.450  379.267469

In [10]:
for coin in ('btc', 'neo', 'eth'):
    print(getDBdata(coin, '8h', session).tail(10))

                            Open   Close         High          Low  \
MTS
2019-01-12 23:45:00  3707.954775  3702.0  3734.000000  3684.700000
2019-01-13 07:45:00  3702.000000  3697.0  3712.802867  3674.800000
2019-01-13 15:45:00  3696.500000  3692.1  3729.000000  3671.000000
2019-01-13 23:45:00  3692.100000  3591.0  3692.100000  3570.000000
2019-01-14 07:45:00  3590.900000  3623.8  3637.813708  3580.000000
2019-01-14 15:45:00  3623.800000  3764.1  3783.755885  3606.900000
2019-01-14 23:45:00  3764.200000  3749.3  3799.400000  3725.000000
2019-01-15 07:45:00  3749.300000  3747.1  3780.874734  3736.600000
2019-01-15 15:45:00  3747.400000  3717.8  3764.700000  3701.384405
2019-01-15 23:45:00  3723.500000  3656.3  3733.400000  3623.100000

                          Volume
MTS
2019-01-12 23:45:00  1777.603634
2019-01-13 07:45:00   925.380638
2019-01-13 15:45:00  1721.652141
2019-01-13 23:45:00  8495.217834
2019-01-14 07:45:00  2191.626957
2019-01-14 15:45:00  6069.964484
2019-01-14 23:45:00  4943.956671
2019-01-15 07:45:00  1804.029771
2019-01-15 15:45:00  1832.686232
2019-01-15 23:45:00  4315.934466
                       Open   Close    High     Low         Volume
MTS
2019-01-12 23:45:00  7.8367  7.8099  7.9768  7.7107  102807.440565
2019-01-13 07:45:00  7.8099  7.7989  7.8401  7.7059   24024.784980
2019-01-13 15:45:00  7.7946  7.4879  7.9017  7.4236   98963.829548
2019-01-13 23:45:00  7.5016  7.2118  7.5065  7.0764  198602.829475
2019-01-14 07:45:00  7.2237  7.4701  7.5939  7.2114   61160.930179
2019-01-14 15:45:00  7.4703  7.9780  8.1076  7.3660  208635.111643
2019-01-14 23:45:00  7.9861  8.0700  8.1666  7.9210  113064.987668
2019-01-15 07:45:00  8.0700  7.9562  8.0964  7.9122   45356.010201
2019-01-15 15:45:00  7.9512  7.7325  7.9742  7.7000   68278.609290
2019-01-15 23:45:00  7.7333  7.6276  7.8403  7.4610   79484.413692
                           Open   Close    High     Low         Volume
MTS
2019-01-12 23:45:00  128.750000  127.41  129.49  126.10   56350.441079
2019-01-13 07:45:00  127.390000  126.97  127.70  126.15   13392.779681
2019-01-13 15:45:00  127.250000  126.00  128.06  124.81   31864.561796
2019-01-13 23:45:00  126.000000  117.94  126.00  116.10  168264.852567
2019-01-14 07:45:00  117.940000  119.93  121.35  117.79   49577.478922
2019-01-14 15:45:00  119.890000  131.85  132.82  118.85  162069.726919
2019-01-14 23:45:00  131.820000  131.45  134.50  129.59  142772.963673
2019-01-15 07:45:00  131.459215  131.26  133.28  130.24   46029.227018
2019-01-15 15:45:00  131.200000  128.36  134.29  127.70   67026.982641
2019-01-15 23:45:00  129.080000  122.81  130.00  119.29  141326.444299

In [19]:
test = None
t = test or 67
t

67