In [1]:
import pandas as  pd
from sqlalchemy import create_engine
import pymysql
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from TickTocTest.ticktoctest.utils import Return_API_response
from TickTocTest.ticktoctest.models import Base, Ada, Btc, Neo, Mana, Bitfinex_DB_Tables, Compare_DB_Tables

In [ ]:
bitfinexURL = 'https://api.bitfinex.com/v2/candles/trade:'
compareURL = 'https://min-api.cryptocompare.com/data/histohour?'

# BITFINEX:

âœŒ

In [ ]:
resp = Return_API_response()

In [ ]:
data = resp.api_response(bitfinexURL + '6h:tBTCUSD/hist?limit=10')[::-1]
df=  pd.DataFrame(data, columns=['MTS','Open','Close','High','Low','Volume'])
df['MTS'] = pd.to_datetime(df['MTS'], unit='ms')
df.set_index('MTS',drop=True,inplace=True)
df

In [ ]:
df.index[-1]

In [ ]:
resp.close_session()
resp2= Return_API_response()

# CryptoCompare

In [ ]:
data = resp2.api_response(compareURL+ 'fsym=BTC&tsym=USD&limit=10&aggregate=6&e=CCCAGG')
compDF= pd.DataFrame.from_dict(data['Data'])
compDF

In [ ]:
compDF['MTS'] = pd.to_datetime(compDF['time'], unit='s')
compDF['Volume'] = compDF['volumefrom'] + compDF['volumeto']
compDF.drop(['time','volumefrom','volumeto'], inplace=True, axis=1)
compDF.set_index('MTS', drop=True, inplace=True)
compDF.rename(index=str, columns={'close': 'Close', 'open': 'Open', 'low': 'Low', 'high': 'High'}, inplace=True)
compDF = compDF[['Open', 'Close', 'High', 'Low', 'Volume']]
compDF

In [ ]:
resp2.close_session()

## Binance API

Binnance API.  https://api.binance.com
 - All time and timestamp related fields are in milliseconds.
 - HTTP 4XX return codes are used for for malformed requests; the issue is on the sender's side.
 - HTTP 429 return code is used when breaking a request rate limit.
 - HTTP 418 return code is used when an IP has been auto-banned for continuing to send requests after receiving 429 codes.
 - HTTP 5XX return codes are used for internal errors; the issue is on Binance's side. It is important to NOT treat this as a failure operation; the execution status is UNKNOWN and could have been a success.

In [23]:
binance_URL  = 'https://api.binance.com/api/v1/klines?symbol=BTCUSDT&interval=1d'
server_time  = 'https://api.binance.com/api/v1/time'
# ticker_price = 'https://api.binance.com/api/v3/ticker/price?symbol=GVTUSDT'

In [24]:
res= Return_API_response()

In [25]:
data = res.api_response(server_time)
data

{'serverTime': 1543382060179}

In [26]:
BiTime = pd.to_datetime(data['serverTime'], unit='ms')
BiTime

Timestamp('2018-11-28 05:14:20.179000')

In [28]:
BiData = res.api_response(binance_URL)
# ticker = res.api_response(ticker_price)
res.close_session()

In [30]:
BiData.info()

AttributeError: 'list' object has no attribute 'info'

In [29]:
BiData[0]

[1502928000000,
 '4261.48000000',
 '4485.39000000',
 '4200.74000000',
 '4285.08000000',
 '795.15037700',
 1503014399999,
 '3454770.05073206',
 3427,
 '616.24854100',
 '2678216.40060401',
 '8733.91139481']

In [31]:
df = pd.DataFrame(BiData, columns=['MTS','Open','High','Low','Close','Volume', 'MTS_close', 'a', 'b', 'c', 'd','e'])
df.tail()

,MTS,Open,High,Low,Close,Volume,MTS_close,a,b,c,d,e
464,1543017600000,4415.63000000,4527.00000000,3824.69000000,3932.44000000,61693.11100600,1543103999999,258702927.69916426,275070,30242.18919400,127231531.56615079,0
465,1543104000000,3933.68000000,4233.00000000,3652.66000000,4085.78000000,101693.97558800,1543190399999,398253568.52923843,428171,53212.17100000,208468641.38665483,0
466,1543190400000,4088.69000000,4206.00000000,3701.00000000,3862.20000000,94503.75076700,1543276799999,373225761.80740756,413329,48232.14340600,190642350.09140542,0
467,1543276800000,3864.45000000,3940.00000000,3689.12000000,3875.21000000,67480.60721200,1543363199999,257593168.12182525,288731,36322.28391600,138747058.92980628,0
468,1543363200000,3875.63000000,4150.00000000,3874.27000000,4104.54000000,18292.74813400,1543449599999,72745697.47816522,75518,9772.34370800,38845151.83647151,0

In [32]:
df.drop(['MTS_close','a','b','c','d','e'], inplace=True, axis=1)
df['MTS'] = pd.to_datetime(df['MTS'], unit='ms')
df.tail()

,MTS,Open,High,Low,Close,Volume
464,2018-11-24,4415.63000000,4527.00000000,3824.69000000,3932.44000000,61693.11100600
465,2018-11-25,3933.68000000,4233.00000000,3652.66000000,4085.78000000,101693.97558800
466,2018-11-26,4088.69000000,4206.00000000,3701.00000000,3862.20000000,94503.75076700
467,2018-11-27,3864.45000000,3940.00000000,3689.12000000,3875.21000000,67480.60721200
468,2018-11-28,3875.63000000,4150.00000000,3874.27000000,4104.54000000,18292.74813400

In [33]:
df.set_index('MTS', drop=True, inplace=True)
df = df[['Open', 'Close', 'High', 'Low', 'Volume']]
df.head()

,Open,Close,High,Low,Volume
MTS,,,,,
2017-08-17,4261.48000000,4285.08000000,4485.39000000,4200.74000000,795.15037700
2017-08-18,4285.08000000,4108.37000000,4371.52000000,3938.77000000,1199.88826400
2017-08-19,4108.37000000,4139.98000000,4184.69000000,3850.00000000,381.30976300
2017-08-20,4120.98000000,4086.29000000,4211.08000000,4032.62000000,467.08302200
2017-08-21,4069.13000000,4016.00000000,4119.62000000,3911.79000000,691.74306000

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 469 entries, 2017-08-17 to 2018-11-28
Data columns (total 5 columns):
Open      469 non-null object
Close     469 non-null object
High      469 non-null object
Low       469 non-null object
Volume    469 non-null object
dtypes: object(5)
memory usage: 12.8+ KB

In [35]:
df['Close'].tail()

MTS
2018-11-24    3932.44000000
2018-11-25    4085.78000000
2018-11-26    3862.20000000
2018-11-27    3875.21000000
2018-11-28    4104.54000000
Name: Close, dtype: object

In [37]:
df.drop(['Volume'], axis=1).plot()

TypeError: Empty 'DataFrame': no numeric data to plot