In [1]:
import pandas as pd
import matplotlib as plt
%matplotlib inline
from TickTocTest.ticktoctest.masterDB import mergeMaster, updateDB, engine_master, tables
from TickTocTest.ticktoctest.tickToc import getDBdata, db_session
from Altcoin.altcoin.coinData import CoinData
from Altcoin.altcoin.getData import getData
import requests, json
from datetime import datetime, timedelta

In [2]:
start = datetime.strptime('2018-12-01 00:00:00', '%Y-%m-%d %H:%M:%S')
finish = datetime.strptime('2018-12-02 14:00:00', '%Y-%m-%d %H:%M:%S')
start, finish

(datetime.datetime(2018, 12, 1, 0, 0), datetime.datetime(2018, 12, 2, 14, 0))

In [3]:
# starts = str(int(start.timestamp())*1000)
# finishs = str(int(finish.timestamp())*1000)
# starts, finishs

Couldn't get bitfinex endpoint to work with ?start=starts?end=finishs. So I grabbed a ?limit=1000 and cropped it

In [4]:
# url = f'https://api.bitfinex.com/v2/candles/trade:15m:t{sym}USD/hist?limit=1000'

# OOPS
This worked fine for 'OMG' but then put the 'OMG' data into 'trx' table. So now we need to delete some
rows from 'trx' table

#### The Amswer is put the url (line above) inthe for loop below ... Doh

In [5]:
# with engine_master.begin() as conn:
#     for sym in ['OMG', 'TRX']:
#         res = requests.get(url)
#         data = res.json()
#         df = pd.DataFrame(data, columns=['MTS', 'Open','Close','High','Low','Volume'])
#         df.set_index('MTS', drop=True, inplace=True)
#         df.sort_values(by=['MTS'], inplace=True)
#         df.index = pd.to_datetime(df.index, unit='ms')
#         DF = df.loc['2018-12-01': '2018-12-02 14:0:0'].copy()
        
#         updateDB(DF, tables[sym.lower()], conn)

In [ ]:
# Session = db_session()
# session= Session()
# trx = CoinData('trx', getDBdata, session)
# trx.plot('2018-11-01')

### Delete some rows

In [ ]:
# query = session.query(table.MTS)
# query = query.filter((table.MTS >= start) & (table.MTS <= finish))

In [ ]:
# query.delete()
# session.commit()

In [ ]:
# trx.plot('2018-11-01')

In [ ]:
# session.close()

### Get Bitfinex data

In [ ]:
# with engine_master.begin() as conn:
url = f'https://api.bitfinex.com/v2/candles/trade:15m:tTRXUSD/hist?limit=1000'
res = requests.get(url)
data = res.json()
df = pd.DataFrame(data, columns=['MTS', 'Open','Close','High','Low','Volume'])
df.set_index('MTS', drop=True, inplace=True)
df.sort_values(by=['MTS'], inplace=True)
df.index = pd.to_datetime(df.index, unit='ms')
DF = df.loc['2018-12-01': '2018-12-02 14:00:00'].copy()

#     updateDB(DF, tables[sym.lower()], conn)
DF.head(20)

### Get Compare data

In [19]:
compare_url = 'https://min-api.cryptocompare.com/data/histohour?fsym=BCH&tsym=USD&limit=2000&aggregate=1&e=CCCAGG'
res = requests.get(compare_url)
data = res.json()
if data['Type'] >= 100:
    DF = pd.DataFrame(data['Data'][1:])
    DF['MTS'] = pd.to_datetime(DF['time'], unit='s')
    DF['Volume'] = DF['volumefrom'] + DF['volumeto']
    DF.drop(['time', 'volumefrom', 'volumeto'], inplace=True, axis=1)
#     DF.set_index('MTS', drop=True, inplace=True)
    DF.rename(columns={'close': 'Close', 'open': 'Open', 'low': 'Low', 'high': 'High'},
              inplace=True)
    DF = DF[['MTS', 'Open', 'Close', 'High', 'Low', 'Volume']]
else: 
    print(data['Type'])

In [20]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
MTS       2000 non-null datetime64[ns]
Open      2000 non-null float64
Close     2000 non-null float64
High      2000 non-null float64
Low       2000 non-null float64
Volume    2000 non-null float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 93.8 KB

In [21]:
pd.to_datetime(DF['MTS'], format='%Y-%m-%d %H:%M')
DF.set_index('MTS', drop=True, inplace=True)

In [22]:
df = DF.loc['2018-11-14 23:00:00':].copy()
df.head()

                       Open   Close    High     Low      Volume
MTS
2018-11-14 23:00:00  434.74  444.16  445.91  433.48  2965323.72
2018-11-15 00:00:00  444.07  441.86  447.35  439.41  1404229.10
2018-11-15 01:00:00  441.86  437.60  441.97  435.57  1285510.77
2018-11-15 02:00:00  437.60  421.98  438.07  417.09  4497359.48
2018-11-15 03:00:00  421.98  430.89  432.79  421.91  2242110.17

In [ ]:
df.info()

In [ ]:
from TickTocTest.ticktoctest.tickToc import getDF
db_name = f'sqlite:///c:\\data\\sqlite\\db\\master_db.db'
Session = db_session(db_name)
session = Session()

In [ ]:
# Combine Altcoin with mysql ticktoc15m.db
for coin in ['BCHUSD']:
    sym = coin[:-3]
    df1D = getData(sym, '1D')
    df6 = getData(sym, '6h')
    df1 = getData(sym, '1h')
    db_df = getDF(sym.lower(), session)

In [ ]:
df.info()

In [ ]:
pd.to_datetime(df['MTS'], format='%Y-%m-%d %H:%M:%S')

In [ ]:
DF = pd.concat([df1D, df6, df1, db_df, df])
DF.drop_duplicates(inplace=True)
DF = DF.groupby('MTS')['Open', 'Close', 'High', 'Low', 'Volume'].mean()
DF.sort_values(by=['MTS'])
DF.reset_index()